body {
  font-size: 20px;
  color: #464646;
  background-color: #464646;
  font-family: 'Yantramanav', sans-serif;
}

form {
    margin:0 auto;
    width:100%;
}
input, textarea {
  width:100%;
  height:27px;
  background:#efefef;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #ccc;
  padding:10px;
  margin-bottom: 40px;
  margin-top:3px;
  font-size:0.7em;
  color:#3a3a3a;
}

#text-contact div{
color: #464646;
}



.btn-primary{
  background-color: #0097CC;
}
.pull-right {
    float: left;
}

input:focus, textarea:focus{ 
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: -2px;
  border-bottom: 1.5px solid #0097CC;
}
textarea{
  height:150px;
  background:url(images/textarea-bg.jpg) right no-repeat #efefef;
}
#fb-page-container{
    position: relative;
    width: 80%;;
    height: 100;
    margin: 0 auto;
    margin-bottom: 35px;
    background-color: #777;
}
#lista {
  padding: 0; 
  border : 1px solid;
  border-color: #bbb;
  margin-right: 20px;
}

#follow{
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size:20px;
  font-weight: bold;
  color : #E7E7E7;
  padding-top: 10px;
}
#listtitle{
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size:35px;
  font-weight: bold;
  padding-top: 10px;
}

#fbshare{
    width: auto;
    height: auto;
    margin: 0 auto;
    padding-bottom: 10px;
    position: relative;
}

#sectionfacebook{
  background-color: #0097CC;  
}

 
#sectionlista {
  padding: 0; 

}

#div-list{
  padding: 0px;
}

#brochure{
  padding: 0; 
  border : 1px solid;
  border-color: #aaa;
  background-color: #ddd;
}

#picboth{
  padding: 20px;
  width:  100%;

}
#pTitle{
  font-family: 'Merriweather', serif;
  font-size:30px;
  font-weight: bold; 
  padding-top: 20px;
}


#pPoints{
  padding: 20px;
  text-align: left;
  font-size:25px;
}

#h1Fair{
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size:40px;
  font-weight: bold;
  font-style: italic;
  background-color:#E2D471;
  margin-bottom: 0px;
}

#everyone{
 background-color: #0097CC;
 padding-right: 5px;
 color :#e7e7e7;
}

li{
  padding-right: 10px;
  padding-left:0px;
  text-align: center;
}

#iframefb {
    
    width:100%;
    float:left;
    text-align:center;
}

/** HEADER **/
#header-nav {
  background-color: #464646;
  border-radius: 0;
  border: 0;
  padding-top: 10px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 60px;}
#header-nav-menu {
    background-color: #464646;
    border-radius: 0;
  border-radius: 0;
  border: 0;
  padding: 00px;
}
.navbar {
    position: relative;
    min-height: 0px;
    margin-bottom: 00px;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Rector for judge */
	font-family: 'Libre Baskerville', serif;
  color: #E2D471;
  font-size: 2.5em;
  text-shadow: 1px 1px 1px #444;
  margin-top: 0;
  margin-bottom: 10;
  line-height: 0.5;
}
a:hover {
  color :red;
  text-decoration: none;
}

.navbar-brand p { /* Madison */
  color: #E2D471;
  font-size: 1em;
  margin-top: 20px;
}
#nav-list {
  margin-top: 0px;
}
#nav-list a {
  color: #464646;
  text-align: center;
  padding: 20px;
  margin-left: 0px;
}
#divmenu{
  padding: 0px;
}
#divmenu{
  padding: 0px;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1em;
}
#collapsable-nav{
  padding-left: 45px;
  background-color: #e2d471;
  float: right;
  text-align: right;
}

#donate{
  background-color: #0097CC;
  float: right;
  margin-top: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 1px;
  padding-right: 1px;
}

#donate a:hover{
  background-color: #00aaCC;

}

#donate a{
  color :#e2d471;
  padding: 5px;
}

#fb-img {
    background: url('../images/fbon.png') no-repeat;
    width: 25px;
    height: 25px;
  }

#fb-img:hover {
  background: url('../images/fboff.png') no-repeat;
}

#mainpic{
	padding: 0;
	margin:0;
}

/* FOOTER */
#main-content{
  padding: 0px;
}
.panel-footer {
  margin-top: 00px;
  padding-top: 0px;
  background-color: #464646;
  border-top: 0;
  font-size:1em;
    color: #E2D471;
}
.panel-footer div.row {

  margin-bottom: 35px;
  padding-top: 0px;
}

#footest{
  margin-top: 00px;
  padding-top: 20px;
  padding-bottom: 0px;
  background-color: #464646;
  border-top: 0;
  font-size:1em;
  color: #777;	

}
#footfooter{
  margin-top: 00px;
  padding-top: 20px;
  padding-bottom: 0px;
  background-color: #222;
  border-top: 0;
  font-size:1em;
  color: #888;	

}
.copyright-left {
	text-align: left;
	  font-size:0.7em;

}

.paidfor-right {
	text-align: right;
	  font-size:0.7em;
}

.copyright-center {
	text-align: center;
	  font-size:0.7em;

}

.paidfor-center {
	text-align: center;
	  font-size:0.7em;
}

#textfoot {
	text-align: left;
	color: #BBB;
	font-size:0.9em;

}
/* END FOOTER */

#main{
  border-radius: 0;
  border: 0; 
  padding-bottom: 40px;
  margin-bottom: 0px;
}

/********** Large devices only **********/
@media (min-width: 1200px) {
#mainpic{
	padding: 0;
	margin:0;
}

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
#mainpic{
	padding: 0;
	margin:0;
}

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
#mainpic{
	padding: 0;
	margin:0;
}

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */

  .navbar-brand h1 { 
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand p { 
    font-size: .6em;
    margin-top: 12px;
  }
.navbar-nav{
	margin:0px;
}
#mainpic{
	padding: 0;
	margin:0;
}

}



/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { 
    padding-top: 5px;
    font-size: 6vw;
  }
  /* End Header */
  .jumbotron{
	padding: 0;
	margin:0;
}


}
@keyframes slider {

0% {
  left: 100%; 
  width: 100%;
}

5% {
  left: 0%; 
}
25% {
  left: 0%; 
}
30% {
  left: -100%; 
  width: 100%;
}
30.0001% {
  left: -100%; 
  width: 0%;
}
100% {
  left: 100%; 
  width: 0%;
}

}

slider {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  overflow: hidden;
  position: absolute;
}

slider > * {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  animation: slide 6s infinete;
  overflow: hidden;
}

slide:nth-child(1){
  left:0%;
  animation-delay: -1s;
  background-image: url(images/event1.jpg);
  background-size: cover;
  background-position: center;
}
slide:nth-child(2){
  animation-delay: 2s;
  background-image: url(images/event2.jpg);
  background-size: cover;
  background-position: center;
}

@media (max-width: 767px) {
  /* Header */
  #pTitle, #listtitle { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }
  #pPoints, #sectionlista h3{
    padding-top: 10px;
    font-size: 4vw; /* 1vw = 1% of viewport width */
  }
}